.img {
  width: 50%;
  height: 50%;
  margin-right: 10px;
  margin-left: 0;
  max-width: 250px;
  max-height: 250px;
}

p {
  margin: 0;
  padding: 0;
}

.card, .empty-card {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

.empty-card {
  justify-content: center;
}
